<div class="container" [hidden]="isPrinting">
  <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-between">
      <!-- <div class="col-10"> -->
      <div class="col-10 firstDiv">
        <div class="mainForm">
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <mat-form-field style="width: 100%">
                  <input
                    type="text"
                    placeholder="PARTY NAME"
                    #username
                    (input)="partyName(username.value)"
                    matInput
                    [matAutocomplete]="auto"
                  />
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of options"
                      (onSelectionChange)="onPartySelect($event, option._id)"
                      [value]="option.name"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- 11 input group -->
          <hr />
          <div formGroupName="setOne">
            <div class="row">
              <div class="col">
                <label class="form-label">Bill Number</label>
              </div>
              <div class="col">
                <label class="form-label">DATE - {{ date }}</label>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    formControlName="bhada"
                    (input)="constChange('bhada')"
                    id="floatingInput"
                    placeholder=""
                  />
                  <label for="floatingInput"
                    >Bhada
                    <mat-icon [hidden]="!bhadaChanged"
                      >lightbulb</mat-icon
                    ></label
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingInput"
                    type="number"
                    formControlName="hammali"
                    (input)="constChange('hammali')"
                    placeholder=""
                  />
                  <label for="floatingInput"
                    >Hammali
                    <mat-icon [hidden]="!hammaliChanged"
                      >lightbulb</mat-icon
                    ></label
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingInput"
                    type="number"
                    formControlName="cash"
                    placeholder=""
                  />
                  <label for="floatingInput">Cash </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group mb-2">
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      type="number"
                      id="floatingInput"
                      formControlName="commission_rate"
                      placeholder=""
                      (change)="onCommRateChange()"
                    />
                    <label for="floatingInput">Commission Rate</label>
                  </div>
                  <div class="input-group-prepend">
                    <div
                      class="input-group-text"
                      style="height: 59px; color: red"
                      matTooltip="Commission rate is not the default value"
                      [hidden]="commRateChange"
                    >
                      !
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingInput"
                    type="number"
                    formControlName="bhada_rate"
                    placeholder=""
                  />
                  <label for="floatingInput">Bhada Rate</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingInput"
                    type="number"
                    formControlName="commission"
                    placeholder=""
                  />
                  <label for="floatingInput">Commision</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingInput"
                    formControlName="tax"
                    type="number"
                    placeholder=""
                  />
                  <label for="floatingInput">Tax</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingInput"
                    formControlName="station_charge"
                    type="number"
                    placeholder=""
                  />
                  <label for="floatingInput">Station Charge</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingInput"
                    type="number"
                    formControlName="driver"
                    placeholder=""
                  />
                  <label for="floatingInput">Driver</label>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row" formGroupName="setTwo">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  formControlName="item_name"
                  id="Item"
                />
                <label for="floatingInput">Item</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  type="number"
                  formControlName="bag"
                  id="Bag"
                />
                <label for="floatingInput">Bag</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  formControlName="quantity"
                  id="Quantity"
                />
                <label for="floatingInput" type="number">Quantity</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  type="number"
                  formControlName="rate"
                  id="Rate"
                />
                <label for="floatingInput">Rate</label>
              </div>
            </div>
          </div>
          <div class="row">
            <button type="button" (click)="addNew()" class="btn btn-warning">
              Add
            </button>
          </div>
          <hr />
          <div class="row">
            <table #table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ITEM</th>
                  <th scope="col">BAG</th>
                  <th scope="col">QUANTITY</th>
                  <th scope="col">RATE</th>
                  <th scope="col">AMOUNT</th>
                  <th scope="col">REMOVE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tableArr; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.item }}</td>
                  <td>{{ item.bag }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.rate }}</td>
                  <td>{{ item.quantity * item.rate }}</td>
                  <td>
                    <button
                      (click)="removeItem(i)"
                      mat-mini-fab
                      class="matButton"
                      color="primary"
                      type="button"
                    >
                      <mat-icon class="material-icons">delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" style="margin-top: 30mm" formGroupName="setThree">
            <div class="col">
              <label class="form-label">Total Expense</label>
              <input
                type="text"
                formControlName="to_exp"
                class="form-control"
                disabled
              />
            </div>
            <div class="col">
              <label class="form-label">Bill Total</label>
              <input
                type="text"
                formControlName="bill_total"
                class="form-control"
                disabled
              />
            </div>
            <div class="col">
              <label class="form-label">Net Amount</label>
              <input
                type="text"
                formControlName="net_amount"
                class="form-control"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <div class="col-2">
        <div
          class="row"
          style="margin-top: 80mm; margin-left: 3px; width: 49mm"
        >
          <button
            type="button"
            (click)="calculate()"
            class="btn btn-primary"
            [disabled]="!purchaseForm.valid"
          >
            Calculate
          </button>
        </div>
        <div class="row" class="sideButtons">
          <button type="submit" class="btn btn-primary" style="width: 50mm">
            Save and Print
          </button>
        </div>
        <div class="row" class="sideButtons">
          <button
            type="button"
            (click)="resetForm()"
            class="btn btn-primary"
            style="width: 50mm"
          >
            Discard\New
          </button>
        </div>
        <div class="row" class="sideButtons">
          <button type="button" class="btn btn-primary" style="width: 50mm">
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!--  -->
<!--  -->
<div class="container-fluid" id="toP" [hidden]="!isPrinting">
  <div class="row">
    <div class="col" style="margin-left: 30mm">
      <h4>PURCHASE BILL</h4>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">BILL NO:{{ billNumber }}</div>
    <div class="col">DATE:{{ date }}</div>
    <div class="col">PARTY NAME: {{ username.value }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col">BHADA:{{ this.purchaseForm.value.setOne.bhada }}</div>
    <div class="col">
      BHADA RATE:{{ this.purchaseForm.value.setOne.bhada_rate }}
    </div>
    <div class="col">CASH:{{ this.purchaseForm.value.setOne.cash }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      COMMISION:{{ this.purchaseForm.value.setOne.commission }}
    </div>
    <div class="col">
      COMMISION RATE:{{ this.purchaseForm.value.setOne.commission_rate }}
    </div>
    <div class="col">HAMMALI:{{ this.purchaseForm.value.setOne.hammali }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col">TAX:{{ this.purchaseForm.value.setOne.tax }}</div>
    <div class="col">
      STATION CHARGE:{{ this.purchaseForm.value.setOne.station_charge }}
    </div>
    <div class="col">DRIVER:{{ this.purchaseForm.value.setOne.driver }}</div>
  </div>
  <hr />
  <div class="row">
    <table #table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ITEM</th>
          <th scope="col">BAG</th>
          <th scope="col">QUANTITY</th>
          <th scope="col">RATE</th>
          <th scope="col">AMOUNT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableArr; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.item_name }}</td>
          <td>{{ item.bag }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.rate }}</td>
          <td>{{ item.quantity * item.rate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      TOTAL EXPENSE:{{ this.purchaseForm.value.setThree.to_exp }}
    </div>
    <div class="col">
      BILL TOTAL:{{ this.purchaseForm.value.setThree.bill_total }}
    </div>
    <div class="col">
      NET AMOUNT:{{ this.purchaseForm.value.setThree.net_amount }}
    </div>
  </div>
</div>
