<div class="firstDiv">
  <div class="row">
    <div class="col-10">
      <div class="mainForm">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                >Select Item</span
              >
              <input
                type="text"
                class="form-control"
                placeholder="Itemname"
                aria-label="Itemname"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="col"><h5>Date</h5></div>
          <div class="col"><h5>UID</h5></div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInputGrid"
                    placeholder="Party Name"
                  />
                  <label for="floatingInputGrid">Party Name</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInputGrid"
                    placeholder="Amount"
                  />
                  <label for="floatingInputGrid">Amount</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <button
              type="button"
              style="width: 100%; height: 60px"
              class="btn btn-primary"
            >
              Add New
            </button>
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Party</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary">Add New</button>
    </div>
  </div>
</div>
