<div class="firstDiv">
  <div class="row">
    <div class="col-10 mainForm">
      <form [formGroup]="sellForm" (ngSubmit)="addNew()">
        <div class="row" style="margin-bottom: 15px">
          <div class="col-5">
            <div class="col-md">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInputGrid"
                  formControlName="item_name"
                  placeholder="ITEM NAME"
                />
                <label for="floatingInputGrid">ITEM NAME</label>
              </div>
            </div>
          </div>
          <div class="col">
            <h5>DATE - {{ date }}</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-10">
            <div class="row g-2">
              <div class="col-md">
                <div class="input-group mb-3">
                  <mat-form-field style="width: 100%">
                    <input
                      type="text"
                      placeholder="PARTY NAME"
                      #username
                      formControlName="name"
                      (input)="partyName(username.value)"
                      matInput
                      [matAutocomplete]="auto"
                      style="height: 35px"
                    />
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option
                        *ngFor="let option of options"
                        (onSelectionChange)="onPartySelect($event)"
                        [value]="option"
                      >
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInputGrid"
                    formControlName="amount"
                    placeholder="Amount"
                  />
                  <label for="floatingInputGrid">Amount</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <button
              type="submit"
              style="width: 100%; height: 60px"
              class="btn btn-primary"
            >
              Add New
            </button>
          </div>
        </div>
      </form>
      <hr />
      <div class="row">
        <table #table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Party</th>
              <th scope="col">Amount</th>
              <th scope="col">REMOVE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableArr; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.partyName }}</td>
              <td>{{ item.amount }}</td>
              <td>
                <button
                  (click)="removeItem(i)"
                  mat-mini-fab
                  class="matButton"
                  color="primary"
                  type="button"
                >
                  <mat-icon class="material-icons">delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-1">
      <button type="button" (click)="save()" class="btn btn-primary">
        Save
      </button>
    </div>
    <div class="col-1">
      <button type="button" (click)="resetForm()" class="btn btn-primary">
        New
      </button>
    </div>
  </div>
</div>
