<div class="heading">CRATE</div>
<hr />
<!-- <div class="container firstDiv">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-home-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-home"
        type="button"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        (click)="onTab('COLLECT')"
      >
        Collect
      </button>
      <button
        class="nav-link"
        id="nav-profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-home"
        type="button"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        (click)="onTab('LEND')"
      >
        Lend
      </button>
      <button
        class="nav-link"
        id="nav-profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-profile"
        type="button"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
      >
        Add Crate Party
      </button>
      <button
        class="nav-link"
        id="nav-profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-View"
        type="button"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
      >
        View Transactions
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >

    </div>
    <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div>

      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-View"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div>

      </div>
    </div>
  </div>
</div> -->
<mat-tab-group [selectedIndex]="selected" animationDuration="0ms">
  <mat-tab label="COLLECT/LEND">
    <div class="container">
      <form
        (ngSubmit)="collect(fone)"
        #fone="ngForm"
        #aForm
        (keydown.enter)="$event.preventDefault()"
      >
        <div class="row" style="margin-top: 30px">
          <div class="form-floating mb-3">
            <mat-form-field style="width: 100%">
              <input
                type="email"
                id="floatingInput"
                placeholder="Party Name"
                matInput
                #username
                (input)="partyName(username.value)"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of options"
                  [value]="option.name"
                  (onSelectionChange)="onPartySelect(option._id)"
                >
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="row" style="margin-top: 30px">
          <div class="col-10">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="1"
                name="type"
                ngModel
              />
              <label class="form-check-label" for="inlineRadio1">Type 1</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                value="2"
                name="type"
                ngModel
              />
              <label class="form-check-label" for="inlineRadio2">Type 2</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio3"
                value="3"
                name="type"
                ngModel
              />
              <label class="form-check-label" for="inlineRadio3">Type 3</label>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row" style="margin-top: 30px">
          <div class="col">
            <input type="number" name="count" ngModel class="form-control" />
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">COLLECT</button> ---
            <button type="submit" class="btn btn-primary">LEND</button>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Add Crate Party">
    <form (ngSubmit)="onSaveForm(f)" #f="ngForm" #bForm>
      <div class="container firstDiv">
        <div class="row">
          <div class="col-10">
            <div class="row">
              <div class="form-floating mb-3">
                <mat-form-field style="width: 100%">
                  <input
                    type="email"
                    id="floatingInput"
                    name="partyName"
                    placeholder="Party Name"
                    matInput
                    [matAutocomplete]="auto"
                    #usernameo
                    (input)="partyName(usernameo.value)"
                    ngModel
                  />
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    name="typeOne"
                    ngModel
                    placeholder="Type 1"
                  />
                  <label for="floatingInput">Type 1</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Type 2"
                    name="typeTwo"
                    ngModel
                  />
                  <label for="floatingInput">Type 2</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Type 3"
                    name="typeThree"
                    ngModel
                  />
                  <label for="floatingInput">Type 3</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary">Add Party</button>
          </div>
        </div>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="VIEW TRANSACTIONS">
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field style="width: 100%">
            <input
              type="text"
              placeholder="PARTY NAME"
              style="height: 34px"
              #username2
              (input)="partyName(username2.value)"
              formControlName="name"
              matInput
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option.name">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matSuffix
              #viewOfDate
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <button
            class="btn btn-primary"
            style="height: 64px"
            (click)="find(viewOfDate)"
          >
            FIND
          </button>
        </div>
      </div>
      <div class="row" style="margin: 15px">
        <div class="col">
          <h4>Type 1: {{ dataCurrent.type1 }}</h4>
        </div>
        <div class="col">
          <h4>Type 2: {{ dataCurrent.type2 }}</h4>
        </div>
        <div class="col">
          <h4>Type 3: {{ dataCurrent.type3 }}</h4>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">DATE</th>
              <th scope="col">TYPE</th>
              <th scope="col">COUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableArr; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.date }}</td>
              <td>{{ item.type }}</td>
              <td>{{ item.count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
