<div class="heading">LEDGER</div>
<hr />
<div class="container-fluid firstDiv">
  <div class="row">
    <div class="col">
      <div>
        <table class="table print">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Back</th>
              <th scope="col"></th>
              <th scope="col">Today</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableArr; index as i">
              <td>{{ item.name }}</td>
              <td>{{ item.back }}</td>
              <td>{{ item.items }}</td>
              <td>{{ item.today }}</td>
              <td>{{ item.total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-2" style="margin-top: 100px" *ngIf="!isPrinting">
      <!-- <div class="row">
        <button type="button" class="btn btn-primary">Create</button>
      </div> -->
      <div class="row">
        <button
          type="button"
          class="btn btn-primary"
          style="margin-top: 50px"
          (click)="printIt()"
        >
          Print
        </button>
      </div>
    </div>
  </div>
</div>
