<div class="container">
  <div class="firstDiv">
    <div class="row">
      <label>Select By</label>
      <div class="col-10">
        <div class="row">
          <div class="col">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="option1"
                (change)="typeChange('one')"
              />
              <label class="form-check-label" for="inlineRadio1">Party</label>
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                (change)="typeChange('two')"
                value="option2"
              />
              <label class="form-check-label" for="inlineRadio2">Date</label>
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio3"
                (change)="typeChange('three')"
                value="option3"
              />
              <label class="form-check-label" for="inlineRadio3">Bill</label>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 30px">
          <div class="col" *ngIf="type">
            <div class="input-group mb-3">
              <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
              <input
                type="text"
                class="form-control"
                [placeholder]="placeholder"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="col" *ngIf="!type">
            <div class="input-group mb-3">
              <span class="input-group-text">FROM</span>
              <input
                type="date"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
              />
              <span class="input-group-text">TILL</span>
              <input
                type="date"
                class="form-control"
                placeholder="Server"
                aria-label="Server"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary topButton">
          Discard/New
        </button>
      </div>
    </div>
  </div>
</div>
