<div class="container">
  <div class="firstDiv">
    <div class="row">
      <div class="col-9" style="margin-top: 30px">
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <mat-form-field style="width: 100%">
                <input
                  type="text"
                  id="floatingInput"
                  placeholder="PARTY NAME"
                  matInput
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <!-- <label for="floatingInput">Party Name</label> -->
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Curr</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Mobile Number</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Address</label>
            </div>
          </div>
        </div>
        <div class="row" style="padding: 9px">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ITEM</th>
                <th scope="col">BAG</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">RATE</th>
                <th scope="col">AMOUNT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableArr; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.item }}</td>
                <td>{{ item.bag }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.rate }}</td>
                <td>{{ item.amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary topButton">
              Find
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary topButton">
              Save
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary topButton">
              History
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary topButton">
              Print
            </button>
          </div>
        </div>
        <div class="row bottomButton">
          <button type="button" class="btn btn-primary">Delete</button>
        </div>
        <div class="row bottomButton">
          <button
            type="button"
            class="btn btn-primary"
            printSectionId="toP"
            ngxPrint
          >
            New
          </button>
        </div>
        <div class="row bottomButton">
          <button type="button" class="btn btn-primary">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="toP" hidden>
  <h1 style="text-align: center">Dukan ka naam</h1>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col"><h3>Party Name</h3></div>
      <div class="col"><h3>Opening</h3></div>
    </div>
    <hr />
  </div>
</div>
