<div class="container">
  <div class="firstDiv">
    <div class="row">
      <div class="col-9" style="margin-top: 30px">
        <form
          [formGroup]="mainForm"
          (ngSubmit)="onSubmit()"
          (keydown.enter)="$event.preventDefault()"
          #aForm
        >
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <mat-form-field style="width: 100%">
                  <input
                    type="text"
                    id="username"
                    placeholder="PARTY NAME"
                    formControlName="name"
                    matInput
                    #username
                    (input)="partyName(username.value)"
                    [matAutocomplete]="auto"
                  />
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of options"
                      (onSelectionChange)="onPartySelect($event)"
                      [value]="option.name"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- <label for="floatingInput">Party Name</label> -->
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="curr"
                  formControlName="curr"
                  placeholder="Current"
                  disabled
                />
                <label for="floatingInput">Curr</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  formControlName="phone"
                  placeholder="Phone"
                />
                <label for="floatingInput">Mobile Number</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Address"
                  formControlName="address"
                />
                <label for="floatingInput">Address</label>
              </div>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Date Range</mat-label>
              <mat-date-range-input
                [formGroup]="mainForm"
                [rangePicker]="campaignOnePicker"
              >
                <input
                  matStartDate
                  placeholder="Start date"
                  formControlName="start"
                />
                <input
                  matEndDate
                  placeholder="End date"
                  formControlName="end"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="campaignOnePicker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </form>

        <div class="row" style="padding: 9px">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ITEM</th>
                <th scope="col">DATE</th>
                <th scope="col">Total</th>
                <th scope="col">AMOUNT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableArr; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.item_name }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.current }}</td>
                <td>{{ item.amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col">
            <button
              type="button"
              (click)="find()"
              class="btn btn-primary topButton"
            >
              Find
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              (click)="saveEdit()"
              class="btn btn-primary topButton"
            >
              Save
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary topButton">
              History
            </button>
          </div>
        </div>
        <!-- <div class="row bottomButton">
          <button type="button" class="btn btn-primary">Delete</button>
        </div> -->
        <div class="row bottomButton">
          <button
            type="button"
            class="btn btn-primary"
            printSectionId="toP"
            (click)="resetForm()"
            ngxPrint
          >
            New
          </button>
        </div>
        <div class="row bottomButton">
          <button type="button" class="btn btn-primary">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="toP" hidden>
  <h1 style="text-align: center">Dukan ka naam</h1>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col"><h3>Party Name</h3></div>
      <div class="col"><h3>Opening</h3></div>
    </div>
    <hr />
  </div>
</div>
