<div class="sidebar-container">
  <div class="sidebar-logo">Project Name</div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
      <a routerLink="/">
        <i class="fa fa-home" aria-hidden="true"></i> Purchase
      </a>
    </li>
    <li [hidden]="expired">
      <a routerLink="/ledger-component">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Ledger
      </a>
    </li>
    <!-- <li class="header">Another Menu</li> -->
    <li>
      <a routerLink="/addParty-component">
        <i class="fa fa-users" aria-hidden="true"></i> Add party
      </a>
    </li>
    <li>
      <a routerLink="/crate-component">
        <i class="fa fa-cog" aria-hidden="true"></i> Crate
      </a>
    </li>
    <li [hidden]="expired">
      <a routerLink="/partyCollection-component">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Vyapari Vasuli
      </a>
    </li>
    <li [hidden]="expired">
      <a routerLink="/viewParty-component">
        <i class="fa fa-info-circle" aria-hidden="true"></i>View Party
      </a>
    </li>
    <li [hidden]="expired">
      <a routerLink="/viewPurchase-component">
        <i class="fa fa-info-circle" aria-hidden="true"></i>View Purchase
      </a>
    </li>
    <li>
      <a routerLink="/sell-component">
        <i class="fa fa-info-circle" aria-hidden="true"></i>Sell
      </a>
    </li>
    <li>
      <a routerLink="/TroublersComponent">
        <i class="fa fa-info-circle" aria-hidden="true"></i>Troublers</a
      >
    </li>
    <li>
      <a routerLink="/TodaysSellComponent">
        <i class="fa fa-info-circle" aria-hidden="true"></i>Today`s Sell</a
      >
    </li>
    <li>
      <a routerLink="/TodaysVasuliComponent">
        <i class="fa fa-info-circle" aria-hidden="true"></i>Today`s Vasuli</a
      >
    </li>
    <li>
      <a routerLink="/ItemsComponent">
        <i class="fa fa-info-circle" aria-hidden="true"></i>Items</a
      >
    </li>
  </ul>
</div>
