<div class="firstDiv">
  <form class="mainForm">
    <!-- UID -->

    <div class="row">
      <div class="col">
        <label class="form-label">BILL NUMBER</label>
      </div>
      <div class="col">
        <label class="form-label">DATE - {{ date }}</label>
      </div>
    </div>

    <!-- inputs -->
    <label class="form-label"
      >This Reciept is to confirm a collection from</label
    >

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
      />
      <span class="input-group-text">OF Rs</span>
      <input
        type="text"
        class="form-control"
        placeholder="Server"
        aria-label="Server"
      />
    </div>
    <hr />
    <!-- buttons -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">View Remaining</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">New</button>
      </div>
    </div>
    <!-- Remaining -->
    <div class="row" style="margin-top: 30px">
      <h3>Remaining</h3>
      <h3></h3>
    </div>
  </form>
</div>
