<div class="firstDiv" [hidden]="isPrinting">
  <form class="mainForm">
    <!-- UID -->

    <div class="row">
      <div class="col">
        <label class="form-label">BILL NUMBER</label>
      </div>
      <div class="col">
        <label class="form-label">DATE - {{ dateToShow }}</label>
      </div>
    </div>

    <!-- inputs -->
    <label class="form-label"
      >This Reciept is to confirm a collection from</label
    >

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Party Name"
        #username
        (input)="partyName(username.value)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of options"
          (onSelectionChange)="onPartySelect($event, option._id)"
          [value]="option.name"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      <span class="input-group-text">OF Rs</span>
      <input type="text" class="form-control" #amount placeholder="Amount" />
    </div>
    <hr />
    <!-- buttons -->
    <div class="row">
      <div class="col">
        <button
          type="button"
          (click)="onSave(amount.value)"
          class="btn btn-primary"
        >
          Save
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="resetForm()">
          New
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="printIt()">
          Print
        </button>
      </div>
    </div>
    <!-- Remaining -->
    <div class="row" style="margin-top: 30px">
      <h3>Remaining {{ remaining }}</h3>
      <h3></h3>
    </div>
  </form>
</div>

<div class="container-fluid" [hidden]="!isPrinting">
  <div class="row">
    <div class="col" style="margin-left: 30mm">
      <h4>RECIEPT</h4>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">DATE : {{ dateToShow }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col">PARTY NAME : {{ username.value }}</div>
    <div class="col">AMOUNT : {{ amount.value }}</div>
  </div>
</div>
