<div class="firstDiv">
  <form class="mainForm">
    <!-- UID -->

    <div class="row">
      <div class="col">
        <label class="form-label">BILL NUMBER</label>
      </div>
      <div class="col">
        <label class="form-label">DATE - {{ date }}</label>
      </div>
    </div>

    <!-- inputs -->
    <label class="form-label"
      >This Reciept is to confirm a collection from</label
    >

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Party Name"
        #username
        (input)="partyName(username.value)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of options"
          (onSelectionChange)="onPartySelect($event)"
          [value]="option.name"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      <span class="input-group-text">OF Rs</span>
      <input type="text" class="form-control" #amount placeholder="Amount" />
    </div>
    <hr />
    <!-- buttons -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">View Remaining</button>
      </div>
      <div class="col">
        <button
          type="button"
          (click)="onSubmit(amount.value)"
          class="btn btn-primary"
        >
          Save
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">New</button>
      </div>
    </div>
    <!-- Remaining -->
    <div class="row" style="margin-top: 30px">
      <h3>Remaining {{ remaining }}</h3>
      <h3></h3>
    </div>
  </form>
</div>
