/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.mainForm {
  border-style: solid;
  padding: 10mm;
  border-width: 3px;
  border-radius: 4px;
  border-color: grey;
}
.firstDiv {
  padding: 7mm;
}
